{% extends "layout.html" %}
{% block body %}
<h2>Add artist to playlist</h2>
<form action="{{ url_for('new_artist_route') }}"  id="search-query" method="get">
  Artist Name: <input type="text" name="artist"><br>
  Playlist Name: <input type="text" name="playlist"><br>
  <input id="add-artist" type="submit" value="Submit">
</form>
<h2>Delete playlist</h2>
<form action="{{ url_for('delete_playlist_route') }}"  id="playlist-name" method="get">
  Playlist Name: <input type="text" name="playlist"><br>
  <input id="delete-playlist" type="submit" value="Submit">
</form>
<h2>Update playlists</h2>
<form action="{{ url_for('update_playlists_route') }}"  id="update-playlists" method="get">
  <input id="update-button" type="submit" value="Submit">
</form>

<!-- <script>
$.ajax('http://127.0.0.1:5000/testing')
</script> -->

{% endblock %}
